.bg-blue{
    background: blue;
}

.bg-green{
    background: green;
    width: 30%;
}

.bg-white{
    background: #ffffff;
    width: 70%;
}

.bg-red{
    background: red; 
}

.row{
    display:flex;
}

.col1{
    width: 100%;
    height: 50px;
}

.col2{
    height: 350px;
}

