.row{
    display: flex;
}
.azul{
    background: blue;
    width: 100%;
    height: 200px;
}
.col{
    width: 50%;
    height: 200px;
}
.vermelho{
    background: red;
}
.verde{
    background: green;
}