.div-bisavo{
    background: blue;
    display: flex;
    justify-content: center;

}
.div-vo{
    display: flex;
    width: 70%;
}
.div-pai{
    display: flex;
    justify-content: left;
    width: 50%;
    margin-left: 5px;
}
.div-pai2{
    display: flex;
    justify-content: right;
    width: 50%;
    margin-right: 30px;
    
}
.col{
    margin: 0 20px;
}

.color{
    color: #ffffff;
}

