.div-bisavo{
    background: blue;
    display: flex;
    justify-content: center;

}

.div-vo{
    display: flex;
    width: 70%;
    justify-content: space-between;
}

.div-pai{
    margin-left: 5px;
}

.div-pai2{
    margin-right: 30px;
    
}
.col{
    margin: 0 20px;
}

.color{
    color: #ffffff; 
}
.alignment{
    display: flex;
    align-items: center;
}
a{
    text-decoration: none;
  }
