.bg-blue{
    background: blue;
}

.bg-green{
    background: green;
}

.bg-yellow{
    background: yellow;
}

.bg-red{
    background: red; 
}

.row{
    display:flex;
}

.col1{
    width: 100%;
    height: 50px;
}
.col2{
    width: 100%;
    height: 350px;
}

